:root {
  font-family: Montserrat, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  --background-extended: #fff;
  --background-primary: #f7ede2;
  --background-secondary: var(--text-primary);
  --border-radius: 8px;
  --highlight-primary: #e63946;
  --highlight-secondary: #fff;
  --inactive-extended: #686868;
  --navbar-height: 100px;
  --padding: 64px;
  --scrollbar-width: 12px;
  --text-extended: #2f2e2e;
  --text-primary: #1d3557;
  --text-secondary: #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  object-fit: cover;
}

main {
  overflow: hidden;
}

p {
  font-family: "Montserrat";
  line-height: normal;
  font-weight: lighter;
  font-size: 24px;
  text-align: justify;
  text-indent: 0;
}

h1,
h2 {
  font-family: "Syncopate";
  text-transform: uppercase;
}

.primary-palette {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.secondary-palette {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.extended-palette {
  background-color: var(--background-extended);
  color: var(--text-extended);
}

.bread-text {
  font-family: "Montserrat";
  line-height: 40px;
}

.workpage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 64px;
  overflow: hidden;

  &>img {
    width: 100vw;
    object-fit: contain;
  }
}

.headline-right,
.headline-left {
  padding-left: var(--padding);
  padding-right: var(--padding);
  font-family: "Syncopate";
  font-size: 80px;
  text-transform: uppercase;
}

.headline-left {
  text-align: start;
}

.headline-right {
  text-align: end;
}

.summary {
  line-height: 40px;
  font-size: 24px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  text-align: center;
}

.overview-container-left,
.overview-container-right {
  display: flex;
  flex-direction: column;
  max-width: 1098px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  gap: 64px;
}

.overview-container-right {
  padding-left: max(var(--padding), calc(100% - 1098px));
}

.overview-headline {
  font-weight: bold;
  font-size: 18px;
}

.overview {
  display: flex;
  line-height: 40px;
  max-width: 1098px;
}

.dual {
  display: flex;
  justify-content: space-between;
  column-gap: 64px;

  &>* {
    width: 918px;
    height: 100%;
  }
}

.list {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 24px;
  list-style: inside;
  list-style-type: trad-chinese-informal;
  padding-bottom: 16px;

  &>li {
    margin-bottom: 40px;
  }
}

#tail {
  display: grid;
  gap: 0;

  &>img {
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 767px) {
  :root {
    --padding: 16px;
  }

  .workpage-container {
    row-gap: 24px;
  }

  .headline-right,
  .headline-left {
    font-size: 24px;
    text-align: start;
  }

  p {
    font-size: 12px;
  }

  .overview-headline {
    font-weight: bold;
    font-size: 14px;
  }

  .overview {
    display: flex;
    line-height: 17px;
  }

  .overview-container-left,
  .overview-container-right {
    gap: 24px;
  }
}

/* Fonts section */
@font-face {
  font-family: "Syncopate";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Syncopate/Syncopate-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Syncopate";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/Syncopate/Syncopate-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Chango";
  font-style: normal;
  src: url("/fonts/Chango/Chango-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: light;
  font-weight: 300;
  src: url("/fonts/Montserrat/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/Montserrat/Montserrat.ttf") format("truetype");
}