:root {
  font-family: "Satoshi", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  cursor: default;
  scroll-behavior: smooth;
  caret-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  --background-primary: #fff;
  --background-secondary: #000;
  --background-extended: #e6e2df;
  --border-radius: 8px;
  --highlight-primary: #e63946;
  --highlight-secondary: #fff;
  --inactive-extended: #686868;
  --line-height: 40px;
  --navbar-height: 100px;
  --padding: 64px;
  --scrollbar-width: 12px;
  --text-extended: #2f2e2e;
  --text-primary: #303d3a;
  --text-secondary: #e6e2df;
  --font-display: 10rem;
  --font-heading: 4rem;
  --font-card: 3.8rem;
  --font-body: 2.5rem;
  --font-menu: 2rem;
  --font-label: 1.2rem;
  --gap-menu: 64px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

main {
  overflow: hidden;
}

p {
  font-family: "Satoshi";
  line-height: var(--line-height);
  font-weight: 500;
  font-size: 24px;
  text-indent: 0;
}

h1,
h2 {
  font-family: "Satoshi";
  font-weight: 900;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  :root {
    --padding: 8px;
    --navbar-height: 50px;
    --line-height: 16px;
    --font-display: 4rem;
    --font-heading: 2.4rem;
    --font-card: 2.5rem;
    --font-body: 1.2rem;
    --font-menu: 1.4rem;
    --font-label: 1rem;
    --gap-menu: 32px;
  }
}

@font-face {
  font-family: "Technor";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Technor-Black.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Satoshi-Black.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
}
